
__pycache__/
*.py[cod]
*.ipynb_checkpoints


.env
.venv/
env/
venv/


.ipynb_checkpoints/


.DS_Store


.vscode/


data/raw/
data/processed/*.csv
data/processed/*.tsv
data/processed/*.json


models/trained_model/
*.pt
*.bin
*.h5


*.log
*.out


Thumbs.db
